@media screen and (min-width: 480px) and (max-width: 767px) {
    body {
        background-color: black;
        color: rgb(23, 32, 29);
    }
}
@media screen and (min-width: 768px) {
  body {
    background-color: rgb(163, 168, 153);
  }
}
body {
    background-image: grey;
    font-family: 'Work Sans', sans-serif;
}
h1{
    color: rgb(24, 14, 2);
    text-align: center;
    padding: inherit;
}

nav {
    max-width: 960px;
    margin: 0 auto;
    padding: 10px 0;
    margin-right: 0%;
}
nav>ul{
    text-align:right;
  }
  ul>li{
    display:inline-block;
  }
  nav>ul>li>a {
  padding: 18px;
  margin-right: 0;
  text-transform: uppercase;
  text-decoration: none;
  display: block;
  color: black;
  }
  nav>ul>li>a:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1), inset 0 0 1px rgba(255, 255, 255, 0.6);
  background: beige;
  color: rgba(0, 35, 122, 0.7);
  }
  img {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 180px;
  }